.custom-header{
    background-color: #131913;
}
.navbar{
    background-color: #2a3844 !important;
}
.navbar a{
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
  }
  




  


  